{% for p in param %}
<div class="panel-body">
    <div class="col-auto">
        <p class="fs-1">Conditions Générales d’Utilisation</p>
        <p class="fs-2">Préambule</p>
        <p class="fs-6">Le présent site web ainsi que les applications qui y figurent sont la propriété exclusive de la station radiophonique  (ci-après {{p.std}} Ihosy - MADAGASCAR), station anonyme dont sa siège social est sis à BP{{p.Bp}},{{p.PAdres}}, TP{{p.Tp}} portant le RCS ... Ihosy, NIF {{p.PNif}}.</p>
        <p class="fs-6">{{p.std}} , dispose aussi un autre site web, contiennent de journal diocesienne à l’adresse unique « <a class="text-decoration-none" href="http://www.radio-avec.com">www.radio-avec.com</a> » qui est dédiée à tous l'internautes permettant de suivre et connaître l’évenement sis</p>
        <p class="fs-6">L'utilisation du G-FACT ,éditée par Z-DEV est soumise aux termes d'un accord d'utilisateur (les Conditions Générales d’Utilisation ou « CGU ») du G-FACT. peut mettre à jour ces CGU à tout moment sans préavis, il est donc important que vous examiniez la dernière version périodiquement sur la Webapp. La version mise à jour de ces CGU devient juridiquement obligatoire le jour de sa publication.</p>
        <p class="fs-6">En accédant et en utilisant les services de l’interface, vous déclarez que vous avez l'access légal requis ou l’autorisation nécessaire pour conclure un compte d'access. Si le Directeur n'a pas donnée l'autorisation à acceder, il vous est interdit d’utiliser les Services de l’interface. G-FACT ne pourra jamais vous laisse acceder en cas de non-autorisé de cette mise en droit.</p>
        <p class="fs-2">Pour les besoins des présentes, il faut entendre par :</p>
    </div>

            

            

                Client : tout abonné qui souscrit au réseau Orange
                Identifiant : le numéro Orange et l’identité personnelle du Client
                Service: une interface ou Webapp dédiée aux abonnés Orange à partir de l’adresse unique 123.orange.mg

            Les présentes Conditions Générales d’Utilisation ont pour objet de définir les modalités et conditions dans lesquelles Orange Madagascar propose le Service, lequel est accessible à partir du numéro du Client. Ce Service permettra de simplifier et d’optimiser la relation client de manière digitale, de centraliser toutes les informations concernant le compte du Client et de rendre autonome la gestion et les opérations courantes du Client.
            Article 1 – Accès au Service

            Tous les clients Orange Madagascar ont accès à ce Service dès activation de leur données mobiles à partir de l’adresse unique 123.orange.mg, à l’exception des lignes appartenant à une flotte commerciale, c’est-à-dire gérer directement par un client entreprise
            Article 2 - Description du Service

            Les clients auront accès au Service sur le portail 123.orange.mg depuis un ordinateur ou un terminal mobile, à partir d’une connexion 2G/3G/4G et de l’activation des données mobiles du Client.

            Le Service permet au Client de :

                Rendre visible son identifiant (numéro de téléphone, son identité personnelle)
                Consulter sa consommation personnelle (solde de compte, voix/data/sms)
                Accéder aux offres et services commercialisés par Orange Madagascar (forfaits voix/data/sms)
                Utiliser les services proposés (information sur sa consommation, rechargement, services Orange)
                    Gérer son forfait
                    Effectuer des achats
                    Effectuer des rechargements

            La liste des services accessibles depuis l’interface du Service n’est pas limitative et a vocation à évoluer avec le temps. Orange Madagascar se réserve le droit de faire évoluer ce Service et d’en faire profiter les Clients, sans qu’il soit besoin d’une quelconque formalité ; elle pourra éventuellement en informer le Client par envoi d’un SMS d’information .
            Article 3 – Confidentialité – Protection des données personnelles

            Le Client reconnaît et accepte que les données collectées sous forme de fichier papier ou électronique, dans le cadre de la fourniture du Service font l'objet de collecte, traitement et stockage par Orange Madagascar.

            Les données à caractère personnel concernant le Client pourront être communiquées sur réquisition auprès des autorités administratives et judiciaires. Par ailleurs, elles sont susceptibles d’être traitées et stockées par Orange Madagascar et communiquées par cette dernière à ses sociétés mères, filiales ou prestataires pour la fourniture du Service. Orange Madagascar pourra communiquer lesdites informations à des tiers pour la mise en œuvre du Service et auxquels il étend le respect des dispositions légales en vigueur, particulièrement la Loi n°2014-038 du 09 janvier 2015 sur la protection des données à caractère personnel et des règles de sécurité et de confidentialité desdites données. Le Client autorise préalablement Orange Madagascar à utiliser les données collectées pour lui proposer, par courrier électronique ou tout autre moyen employant une technologie de même nature, des services similaires au Service ou pouvant répondre à ses besoins. Le Client dispose à tout moment d’un droit individuel d’accès, de rectification de ses données à caractère personnel et, le cas échéant, d'opposition au traitement qu'il peut exercer directement en envoyant sa demande à l’adresse du Siège social d’Orange Madagascar ou en contactant le service client de ce dernier.
            Article 4 – Gratuité du Service

            Le Service mis à disposition du Client est gratuit.

            Orange Madagascar se réserve le droit de modifier la gratuité de ce Service à tout moment sous réserve d’une information préalable faite par tout moyen.

            Le Client sera informé de toute modification tarifaire du Service par tous les moyens légalement autorisés, au moins, quinze (15) jours avant leur prise d’effet.
            Article 5 - Engagements du Client

            5.1 Le Client s’engage à n’utiliser l’interface du Service qu’en accord avec les présentes CGU. Le Client s’engage alors à ne pas l’utiliser volontairement ou involontairement dans le but de mettre en péril l’image de marque du réseau d’Orange Madagascar. Cette dernière se réserve le droit de suspendre l’accès à ce Service si l’utilisation du Service mettrait en péril son serveur et/ou son réseau.

            5.2 Le Client est identifié par le renseignement de ses informations personnelles lors de la souscription de sa carte SIM. Le Client est tenu de présenter sa carte d’identité, de déclarer et de communiquer ses informations personnelles dès sa première souscription. Le Client reconnaît que les informations personnelles qu'il a fournies au moment de sa première souscription sont valables et qu'il en est l'utilisateur principal.

            5.3 Le Client prend toutes les mesures nécessaires afin que son compte ne puisse être utilisé par un tiers non autorisé. Dans la mesure où le compte du Client est utilisé par un tiers non autorisé, le Client demeure responsable des opérations effectuées à partir de son compte. Orange Madagascar ne peut en être tenu responsable.

            5.4 Le Client est informé que le Service est un espace client permettant à ce dernier de gérer lui-même directement son propre compte. Par conséquent, le Client assume l'entière responsabilité, tant civile que pénale, attachée à ces opérations.

            5.5 Le Client a pris connaissance que le Service présente des données susceptibles d’être protégées par des droits de propriété intellectuelle et/ou d’enfreindre les dispositions légales en vigueur. A ce titre, le Client s’interdit d’effectuer des opérations contraires aux bonnes mœurs ou à l'ordre public et/ou portant atteinte aux droits des tiers.

            5.6 Le Client s’engage, de manière générale, à ne pas faire un usage abusif ou frauduleux du Service.

            5.7 Le Client déclare reconnaître que le Service appartient à Orange Madagascar. Aussi, le Client est informé que la communication de tout Contenu confidentiel ou non est faite par ce dernier à ses risques et périls et qu’il lui appartient de se prémunir contre les éventuelles réclamations faites à son encontre par un tiers.

            5.8 Ethiques d’usage

            Le Client s’engage à respecter les règles suivantes:

                Le Client doit sécuriser son numéro contre les risques d’une éventuelle utilisation d’un tiers autorisé ou non autorisé par le Client ;
                le Contenu ne doit pas mettre en jeu la responsabilité (y compris pénale) d’Orange Madagascar, de quelque manière que ce soit ;
                Le Client ne doit pas utiliser le Service dans le but de gonfler de manière artificielle le volume ou la durée de transactions pour le bénéfice direct ou indirecte d’une personne ou d’une entité ;
                Le Client reconnaît que les opérations considérées comme contrevenant aux lois, règles ou réglementations en vigueur pourront être remis par Orange Madagascar aux autorités chargées de faire respecter la loi qui le requerrait, qui les traiteront en conséquence.

            Article 6 - Engagements d’Orange Madagascar

            Orange Madagascar met en œuvre les moyens nécessaires pour assurer la disponibilité permanente du Service. Orange Madagascar se réserve, notamment le droit de suspendre momentanément, de manière totale ou partielle, et sans préavis l'accès au Service ou à certaines de ses fonctions, pour des raisons d’entretien, d’extension ou de maintenance du Service ou en cas de demande des autorités gouvernementales, de régulation ou toute autre autorité administrative compétente et sans que cette interruption ne puisse ouvrir droit à une quelconque indemnité au bénéfice du Client ou de tiers.

            L’obligation d’Orange Madagascar est une obligation de moyen. Elle ne peut être tenue en conséquence responsable en cas de :

                perturbations causées par des travaux d’entretien, de renforcement, de réaménagement ou d’extension des installations de son réseau.
                aléas de propagation des ondes électromagnétiques,
                cessation de l’exploitation du Service sur décision de l’autorité publique ou d’un cas fortuit,
                prestations rendues par des prestataires de services indépendants, auxquelles le Client peut avoir accès par l’intermédiaire, notamment, des distributeurs.
                interruptions du service de télécommunications d’autres réseaux mobiles ou filaires auxquels elle est interconnectée, résultant de la cessation partielle ou totale de l’exploitation dudit réseau d’Orange Madagascar et ce quelle qu’en soit la cause.

            Article 7 – Responsabilité

            7.1 La responsabilité d’Orange Madagascar envers le Client ne peut être engagée que pour des faits établis qui lui seraient directement et exclusivement imputables. En utilisant le Service, le Client déclare et garantit qu'il est parfaitement informé des caractéristiques et des contraintes de la télécommunication et d'Internet, notamment que les transmissions de données et d'informations sur Internet ne bénéficient que d'une fiabilité technique relative. Aussi les informations circulant sur Internet ne sont pas protégées contre des détournements éventuels, contre des virus éventuels, et que toute personne est susceptible de créer un lien donnant accès au site et/ou à des éléments de son contenu, et qu'ainsi la communication intentionnelle ou non intentionnelle de l'adresse du portail est effectuée à ses risques et périls. Orange Madagascar ne pourra en aucun cas être tenu responsable des dégâts accidentels ou volontaires subis par le Client et provoqués ou non par des tiers. Ces dégâts concernent en particulier la possibilité que tout ou partie des contenus du Client soit divulgué à un tiers.

            7.2 Le Client reconnaît être le seul responsable de l'utilisation qu'il en fait dans le cadre du Service. Il assume en conséquence l'entière responsabilité civile et pénale des revendications de tiers et des actions qu'ils suscitent notamment, mais non exclusivement, en matière de propriété intellectuelle, de droits de la personnalité et de protection des mineurs.

            7.3 Orange Madagascar ne saurait voir sa responsabilité engagée notamment pour :

                la nature et la qualité des manipulations effectuées par le Client ;
                les difficultés d'accès au Service du fait du non- respect total ou partiel d'une obligation incombant au Client, de l'utilisation par le Client d'un équipement non adapté aux caractéristiques du Service, d'une défaillance et/ou d'une saturation à certaines périodes des réseaux de transport vers le monde Internet sur lesquels Orange Madagascar n'a pas de maîtrise
                la contamination par virus des données du Client, dont la protection incombe à ce dernier ;
                les intrusions malveillantes de tiers sur la ligne du Client, malgré les mesures de sécurité mises en place par Orange Madagascar;
                la mauvaise utilisation du Service par le Client ;
                les détournements éventuels de toute information/donnée à caractère sensible et/ou personnel pour le Client, ceux-ci étant sous l'entière et unique responsabilité du Client ;
                les préjudices indirects, c'est à dire tous ceux qui ne résultent pas directement et exclusivement de la défaillance partielle ou totale du Service
                les éventuels dommages survenus à la suite d’un cas de force majeure, du fait d’un tiers ou du fait du Client.

            7.4 Les éventuelles réparations des dommages au Client dues par Orange Madagascar qui résulteraient d'une faute dûment établie à son encontre correspondront au préjudice direct, personnel et certain lié à la défaillance en cause, à l'exclusion expresse des dommages indirects.

            En tout état de cause, le montant des dommages-intérêts qui pourraient être mis à la charge d’Orange Madagascar, si sa responsabilité était retenue, serait limité au montant effectivement réglé par le Client pour bénéficier du Service (hors frais d'accès), le mois précédent l'allocation des dommages-intérêts.

            7.5 Orange Madagascar décline toute responsabilité sur l'utilisation frauduleuse du Service étant de la responsabilité exclusive du Client titulaire du compte. Le Client décharge Orange Madagascar de toute responsabilité en ce qui concerne l’utilisation de son compte sur le Service. Toute plainte d'un tiers relative au Service sera redirigée vers le Client qui en assumera l'entière responsabilité.

            7.6 Le Client s'engage à garantir, à la première demande, y compris en cas de décision de justice non définitive, à indemniser et dédommager Orange Madagascar de tous dommages directs qu’Orange Madagascar pourrait subir si sa responsabilité se trouvait engagée par un tiers, du fait d'une revendication, d'une action ou d'une plainte liée au Service ou consécutive à une utilisation du Service en violation des règles contenues dans les présentes CGU.
            Article 8 - Durée – Désactivation du Service

            Le Service est proposé pour une durée indéterminée.

            En cas de non- respect d’une des dispositions des présentes CGU par le Client soit d'après l'appréciation de Orange Madagascar, soit si Orange Madagascar est saisie par un tiers, Orange Madagascar se réserve le droit d'interrompre de manière temporaire ou définitive l'accès au Service. Orange Madagascar se réserve le droit de mettre fin immédiatement au Service notamment si le comportement du Client est incompatible avec les termes et conditions des présentes CGU. Cette interruption ne donnera droit à aucune indemnisation du Client de la part d’Orange Madagascar.

            En cas de survenance d’un cas de force majeure, le Service sera suspendu temporairement et reprendra dès qu’Orange Madagascar soit en mesure de rétablir de manière correcte et dans son intégralité ledit Service ainsi que toutes les fonctionnalités liés au Service.
            Article 9 - Evolution

            Orange Madagascar se réserve le droit de faire évoluer le Service, notamment en mettant à disposition de nouvelles fonctionnalités, ou en modifiant ou supprimant certaines fonctionnalités. Le Client sera informé, par tout moyen, de toute modification le concernant.

            Les modifications sont applicables dès son activation par le service technique d’Orange Madagascar.
            Article 10 - Support client

            Pour toutes réclamations ou questions relatives au fonctionnement du Service (gestion du Service, gestion des forfaits, etc...), le Client pourra envoyer sa demande à l'adresse du Siège social d’Orange Madagascar ou en contactant directement le service client Orange Madagascar au 032 32 322 04.
            Article 11 - Divers

            Si une ou plusieurs stipulations des présentes CGU sont nulles ou déclarées telles en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée. Les stipulations déclarées nulles et non valides seront alors remplacées par des stipulations qui se rapprocheront le plus quant à leur contenu des stipulations initialement arrêtées.

            Tout différend relatif à l'interprétation, l'exécution ou la validité des présentes CGU, relèvera de la compétence exclusive du Tribunal de Commerce d’Antananarivo.
</div>
{% endfor %}