{% for p in param %}
<div class="panel-body">
    <div class="col-auto">
        <p class="fs-1 text-danger">Conditions Générales d’Utilisation</p>
        <p class="fs-2 text-primary">Préambule</p>
        <p class="fs-6">Le présent site web ainsi que les applications qui y figurent sont la propriété exclusive de la station radiophonique  (ci-après {{p.std}} Ihosy - MADAGASCAR), station anonyme dont sa siège social est sis à BP{{p.Bp}},{{p.PAdres}}, TP{{p.Tp}} portant le RCS ... Ihosy, NIF {{p.PNif}}.</p>
        <p class="fs-6">{{p.std}} , dispose aussi un autre site web, contiennent de journal diocesienne à l’adresse unique « <a class="text-decoration-none" href="http://www.radio-avec.com">www.radio-avec.com</a> » qui est dédiée à tous l'internautes permettant de suivre et connaître l’évenement sis</p>
        <p class="fs-6">L'utilisation du G-FACT ,éditée par Z-DEV est soumise aux termes d'un accord d'utilisateur (les Conditions Générales d’Utilisation ou « CGU ») du G-FACT. peut mettre à jour ces CGU à tout moment sans préavis, il est donc important que vous examiniez la dernière version périodiquement sur la Webapp. La version mise à jour de ces CGU devient juridiquement obligatoire le jour de sa publication.</p>
        <p class="fs-6">En accédant et en utilisant les services de l’interface, vous déclarez que vous avez l'access légal requis ou l’autorisation nécessaire pour conclure un compte d'access. Si le Directeur n'a pas donnée l'autorisation à acceder, il vous est interdit d’utiliser les Services de l’interface. G-FACT ne pourra jamais vous laisse acceder en cas de non-autorisé de cette mise en droit.</p>
        <p class="fs-2">Pour les besoins des présentes, il faut entendre par :</p>
        Entraine d'écrire...
    </div>
</div>
{% endfor %}