{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}
{% block body %}
<div class="" id="containerdev">
    <div class="fs-2">
        {% include('complement/cplm.html.twig') %}
    </div>
    <div class="container text-white">
    <p class="fs-1">{{dev.title|upper}} {{dev.version}}</p>
        <div class="mx-auto fluid">
            <img src="/img/dev/{{dev.fichiers}}" class="img-fluid rounded"  id="mydev">
        </div>
        <p class="fs-4">{{dev.description}}</p>
        <p class="float-end"><a href="{{path('zfolio')}}" class="btn btn-primary">{{'Retour'}}</a></p>
    </div>
</div>
{% endblock %}
