{% extends 'base.html.twig' %}
{% block body %}
{% set ap = app.user %}
<div class="container mt-3">
    <div class="container row float-none">
        {% if parm | length > 0 %}
            <table class="table table-striped table table-hover bg-success">
                <thead class="text-white text-uppercase">
                    <tr>
                        <th>Station</th>
                        <th>Fréquence</th>
                        <th>Localisation</th>
                        <th>B.P</th>
                        <th>E-mail</th>
                        <th>téléphone</th>
                        <th>STAT</th>
                        <th>NIF</th>
                        <th>Compte Bancaire</th>
                        <th>TP</th>
                    {% for roles in ap.userRoles %}
                    {% if roles|upper == "ROLE_SUPERADMIN" %}
                        <th>Logos</th>
                    {% elseif roles|upper != "ROLE_USER" %} 
                        <th>Action</th>
                    {% endif %}    
                    {% endfor %} 
                    </tr>
                </thead>
                {% for p in parm %}
                <tbody class="bg-white">
                    <tr>
                        <td>{{p.std}}</td>
                        <td>{{p.frq}} MhZ</td>
                        <td>{{p.padres}}</td>
                        <td>{{p.bp}}</td>
                        <td>{{p.mail}}</td>
                        <td>{{p.Telp}}</td>
                        <td>{{p.pstat}}</td>
                        <td>{{p.pnif}}</td>
                        <td>{{p.prib}}</td>
                        <td>{{p.tp}}</td>
                    {% for roles in ap.userRoles %}
                    {% if roles|upper == "ROLE_SUPERADMIN" %}
                        <td><a href="{{path('paralogos',{'slug':p.pslug})}}"><img src="/img/paramettre/{{p.logos}}" class="rounded"></a></td>
                    {% elseif roles|upper != "ROLE_USER" %}    
                        <td><a href="{{path('params',{'slug':p.pSlug})}}" class="btn btn-sm"><i class="fa-solid fa-pen-to-square"></i></a><td>
                    {% endif %}    
                    {% endfor %}    
                    </tr>
                </tbody>
                {% endfor %}
            </table>
    {% else %}
        <p class="h1 text-danger text-center"><em>Aucune renseignement enregistré</em></p>
    {% endif %}
    </div>
</div>
{% endblock %}