<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}G-FACT{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/popper.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/validate.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
    </head>
    {% block javascript %}{% endblock %}
    {% block head %}{% endblock head %}
    {% block body %}
    <div class=" container col-sm-11 col-md-12" id="form-body">
        <div class="bg-white">
            {# <div class="float-start bg-dark col-md-4 corps"> #}
            <div class="float-start bg-dark col-md-4 col-sx-12">
                <div class="text-white">
                    <img src="/img/moi.bmp" id="cv" class="mt-2">
                    <div class="text-center">
                        <p class="mt-2 fs-1 mb-2">RASIVIANDRIANARISON</p><p class="text-white fs-2 mt-1">Lahiniriko <scale class="text-danger fs-2 text-float ">Mahaleo</scale></p>
                        <div class="text-uppercase mb-1 fs-4">
                            <p class="mb-0">génie logiciel</p>
                            <p class="mb-0">administateur de base des Données</p>
                            <p class="mb-0">redacteur web</p>
                            <p class="">téchnicien et maintenancier informatique</p>
                        </div>
                        <p class="fs-4">{{dat - 1991}} ans, deux enfants (02)</p>                
                    </div>
                    <div>
                        <p class="fs-1 text-center text-decoration-underline text-uppercase">à propos</p>
                        <p class="text-justify">Moi je suis né le 15 Mai 1991 à Ejeda - Ampanihy. Je me suis un pére Célibataire.J’ai étudié au Centre de Formation Professionnel Tsimbina Anosibe (CFP TIA) - ANTANANARIVE</p><p>Maintenant, je suis Ingénieur en Informatique dans le domaine de Génie logiciel et Administrateur de Base de Données. Titulaire d’un diplôme Programmeur et Analyste</p>
                        <div class="text-center">
                            <p class=" fs-1 text-uppercase text-decoration-underline">competence</p>
                            <p class="fs-3 text-uppercase text-decoration-underline">langage de programmation</p>
                            <div class="text-uppercase">
                                <p>angular js/javascript/jquery</p>
                                <p>hmtl5/bootstrap/css</p>
                                <p>delphi/pascal</p>
                                <p>php/symfony</p>
                                <p>visual basic</p>
                            </div>
                            <p  class="fs-3 text-uppercase text-decoration-underline">système d'exploitation</p>
                            <div class="text-uppercase">
                                <p>mac os x</p>
                                <p>linux/unix</p>
                                <p>os</p>
                                <p>vista</p>
                                <p>windows xp</p>
                                <p>windows serveur (2021/2008/2003)</p>
                            </div>
                            <p  class="fs-3 text-uppercase text-decoration-underline">statistique</p>
                            <div class="text-uppercase">
                                <p>matlab</p>
                                <p>scilab</p>
                            </div>
                            <p  class="fs-3 text-uppercase text-decoration-underline">contact</p>
                            <div class="col-ml-3 bg-dark" >
                                <div class="text-uppercase">
                                    <p class="float-start">adress :</p>
                                    <p class="">lot iiir 116 tsarafidy - ihosy</p>
                                    <div class="d-block">
                                        <p class="float-start">Téléphone :</p>
                                        <div class=" card bg-dark ">
                                            <p>+261 33 23 662 68</p>
                                            <p>+261 34 29 534 49</p>
                                        </div> 
                                    </div>                                          
                                </div>
                                <p  class="float-start text-uppercase">email :</p>
                                <div>
                                    <link class="link">r9.rmjvi@gmail.com</link>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="float-start col-md-8">
                <div >
                    <p class="fs-1 text-center text-uppercase fw-bold">diplôme</p>
                    <p class="fs-2 text-center text-uppercase">Programmeur</p>
                    <ul class="text-start "><li>2018 - 2017 : ANTANANARIVE</li></ul>
                    <p class="text-start">Centre de Formation Professionnel Tsimbina Informatique Anosibe (CFP T.I.A)</p>
                    <p class="fs-2 text-center text-uppercase">analyste</p>
                    <ul class="text-start "><li>2018 - 2017 : ANTANANARIVE</li></ul>
                    <p class="text-start mb-1">Centre de Formation Professionnel Tsimbina Informatique Anosibe (CFP T.I.A)</p>
                    <p><img class="float-start mt-1" src="/img/bulle.png" id="bl">Système de Gestion des Base de Données (SGBD)</p>
                    <h2 class="text-center text-uppercase">diplôme de technicien superieur</h2>
                    <ul class="text-start "><li>2015 - 2016 : Institue Supérieur de Technologie ANTANANARIVE (IST-A)</li></ul>
                    <p><img class="float-start mt-1" src="/img/bulle.png" id="bl">Mention MATH et INFORMATIQUE</p>
                    <h2 class="text-center text-uppercase">baccalauréat</h2>
                    <ul class="text-start "><li>2011 - 2012 : Lycée d’enseignement Général Rabemananjara AMBALAVAO</li></ul>
                    <p><img class="float-start mt-1" src="/img/bulle.png" id="bl">Série D</p>
                    <h2 class="text-center text-uppercase">Brévet d'étude de prémier cycle </h2>
                    <ul class="text-start "><li>2011 - 2012 : Collége d'Enseignement Général IHOSY</li></ul>
                    <p><img class="float-start mt-1" src="/img/bulle.png" id="bl">Option B</p>
                    <h1 class="text-center text-uppercase fw-bold">experience professionnel</h1>
                    <h2 class="text-center text-uppercase">gérant et responsable de société zara (z)</h2>
                    <ul class="float-start text-uppercase"><li>2018 - {{dat}} : <a href="{{path('pfolio')}}" class="text-decoration-none">Z-dev :</a></li></ul>
                    <p class="text-start">Projet déja réaliser:<link class="link"> https://github.com/ZrNarison</link></p>
                    <ul class="float-start text-uppercase"><li>2019 - {{dat}} : <a href="{{path('pfolio')}}" class="text-decoration-none">Z-Info :</a></li></ul>
                    <p class="text-start">Projet déja réaliser:<link class="link"> https://github.com/ZrNarison</link></p>
                    <ul class="float-start text-uppercase"><li>2005 - {{dat}} : <a href="{{path('pfolio')}}" class="text-decoration-none">Z-Tech :</a></li></ul>
                    <p class="text-start">Projet déja réaliser:<link class="link"> https://github.com/ZrNarison</link></p>
                    <h2 class="text-center text-uppercase">journaliste redacteur web</h2>
                    <ul class="text-start"><li>2021 - {{dat}} : <a href="eglisecatholique.mg" class="text-decoration-none">Commussion Episcopale de Madagascar (CEM)</a></li></ul>
                    <ul class="text-start"><li>2021 - {{dat}} : <a href="radio-avec.com" class="text-decoration-none">Radio Audio-Visuel Expression Catholique (AVEC)</a></li></ul>
                    <h2 class="text-center text-uppercase">bénévole analyste</h2>
                    <ul class="text-start "><li>2015 - 2017 : Centre Informatique Régional Ihorombe (C.I.R)</li></ul>
                    <p class="text-start mb-1">Centre Informatique Régional Ihorombe (C.I.R)</p>
                    <p><img class="float-start mt-1" src="/img/bulle.png" id="bl">Système de Gestion des Base de Données (SGBD)</p>
                    <p class="text-center fs-2 text-uppercase">technicien et maintenancier informatique</p>
                    <ul class=""><li>2013 - {{dat}} : Tribunal de Prémiere Instance Ihosy</li></ul>
                    <p class="float-start text-decoration-underline">SoftWare</p>
                    <p class="">: Installation de système d'exploitation, pilotage, Installation des logiciel,désinfection, mise à jour système et Antivirus, etc.</p>
                    <p class="float-start text-decoration-underline">HardWare</p>
                    <p class="">: Installation des équipements informatique, dépannage et réparation des matériel et piéces informatique, etc. </p>
                    <ul class=""><li class="">2015 - {{dat}} : Office Régional de Nutrition Ihorombe</div></ul>
                    <p class="float-start text-decoration-underline">SoftWare</p>
                    <p class="">: Installation de système d'exploitation, pilotage, Installation des logiciel,désinfection, mise à jour système et Antivirus, etc.</p>
                    <p class="float-start text-decoration-underline">HardWare</p>
                    <p class="">: Installation des équipements informatique, dépannage et réparation des matériel et piéces informatique, etc. </p>
                    <ul class=""><li>2020 - {{dat}} : Radio AVEC Ihosy</li></ul>
                    <p class="float-start text-decoration-underline">SoftWare</p>
                    <p class="">: Installation de système d'exploitation, pilotage, Installation des logiciel,désinfection, mise à jour système et Antivirus, etc.</p>
                    <p class="float-start text-decoration-underline">HardWare</p>
                    <p class="">: Installation des équipements informatique, dépannage et réparation des matériel et piéces informatique, etc. </p>
                    <ul class=""><li>2015 - 2016 : TinoService Ihosy</li></ul>
                    <p class="float-start text-decoration-underline">SoftWare</p>
                    <p class="">: Installation de système d'exploitation, pilotage, Installation des logiciel,désinfection, mise à jour système et Antivirus, etc.</p>
                    <p class="float-start text-decoration-underline">HardWare</p>
                    <p class="">: Installation des équipements informatique, dépannage et réparation des matériel et piéces informatique, etc. </p>
                    <p class="text-center fs-2 text-uppercase">formateur</p>
                    <ul class="text-start "><li>Décembre 2019 : DRENETP Ihorombe</li></ul>
                    <p class="float-start"><img src="/img/bulle.png" id="bl"><p class="text-decoration-underline float-start">Bureautique avancée</p>: Word, Excel, Publisher, PowerPoint, etc.</p>
                    <p class="float-start"><img src="/img/bulle.png" id="bl"><p class="text-decoration-underline float-start">NTIC</p>: WhatsApp, Gmail, Yahoo, Facebook , etc.</p>
                    <ul class="text-start "><li>2015 - 2016 : TinoService Ihosy</li></ul>
                    <p class="float-start"><img src="/img/bulle.png" id="bl"><p class="text-decoration-underline float-start">Bureautique et bureautique avancée</p>: Word, Excel, Publisher, PowerPoint, etc.</p>
                    <p class="text-center fs-1 text-uppercase fw-bold">connaissance linguistique</p>
                    <table class="table table-striped table table-hover">
                        <thead class="text-uppercase bg-dark text-white">
                            <th>langue</th>
                            <th class="text-center">compréhension</th>
                            <th class="text-center">écrite</th>
                            <th class="text-center">orale</th>
                        </thead>
                        <tbody class="text-uppercase">
                            <td class="fw-bold">Malagasy</td>
                            <td></td>
                            <td class="float-none">Language maternelle</td>
                            <td></td>
                        </tbody>
                        <tbody class="text-uppercase">
                            <td class="fw-bold">français</td>
                            <td class="text-center">Bien</td>
                            <td class="text-center">Bien</td>
                            <td class="text-center">Bien</td>
                        </tbody>
                        <tbody class="text-uppercase">
                            <td class="fw-bold">anglais</td>
                            <td class="text-center">Bien</td>
                            <td class="text-center">Assez-bien</td>
                            <td class="text-center">Moyenne</td>
                        </tbody>                         
                    </table>
                    <p class="text-center fs-1 text-uppercase fw-bold">sport</p>
                    <p>Basketball</p>
                    <p>Football</p>
                    <p class="text-center fs-1 text-uppercase fw-bold">loisirs</p>
                    <p>lire</p>
                    <p>Musique</p>
                    <p>Jeux vidéo</p>
                    <p>Film</p>
                    <p class="text-center fs-1 text-uppercase fw-bold">qualités</p>
                    <p>Automne</p>
                    <p>Sens de travail en équipe</p>
                    <p>Jeux vidéo</p>
                    <p>Dynamique, passion de l’informatique permettant une adaptation rapide aux
situations nouvelles</p>
                    <p>Bonne condition physique, apte à déplacer en brousse</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block footer %}{% endblock %}
</html>